@import '../base/variables';

$transition-time: 250ms;
$spacing: 12px;

.footer {
  padding: $footer-padding;
  background: $footer-background;
  font-family: $font-montserrat;
  & &__locale {
    margin-bottom: $spacing;
    font-size: 0.75rem;
    color: $color-green;
    a {
      color: $color-green;
    }
    li {
      display: inline-block;
      &:not(:first-child) {
        &::before {
          content: '|';
          margin: 0 $spacing * 0.5;
        }
      }
    }
  }

  & &__deprecated,
  & &__social {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      margin: $spacing * 0.5;
    }
  }
  & &__copyright {
    margin-top: $spacing;
    color: $color-blue;
    text-align: center;
  }
  a, a:active, a:hover {
    color: $color-blue;
    text-decoration: none;
    transition: color ease-in-out $transition-time;
  }
  a:hover {
    color: $color-blue-dark;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}
