@import '../base/variables';

$default-spacing: 16px;
$about-background: $color-blue;
$about-padding: 32px;
$about-spacing: $default-spacing;
$avatar-size: 150px;
$avatar-background: $color-blue-dark;


.home {
  $self: &;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-blue;
  &::after {
    /** Image Preload **/
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:  url('./assets/mount-bromo-low.jpg')
    url('./assets/office-low.jpg')
    url('./assets/trail-low.jpg')
    url('./assets/trail-lowest.jpg');
  }

  .header {
    z-index: 1;
  }

  & &__section {
    height: 100%;
    width: 100%;
  }

  & &__cover {
    $parent: &;
    background: black;
    position: relative;
    overflow: hidden;

    & #{$self}__cover-filter {
      background: transparent;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &#{$self}__cover--java-bromo {
      background: #fce1d8 url('./assets/mount-bromo-low.jpg') no-repeat center top;
      background-size: cover;
      & #{$self}__cover-filter {
        background: rgba(28, 10, 2, 0.45);
      }
    }
    &#{$self}__cover--office {
      background: url('./assets/office-low.jpg') no-repeat center top,
                  url('./assets/office-lowest.jpg') no-repeat center top;
      background-color: #544d47;
      background-size: cover;
      & #{$self}__cover-filter {
        background: rgba(4, 4, 4, 0.45);
      }
    }
    &#{$self}__cover--subway {
      background: #544d47 url('./assets/subway-java-low.jpg') no-repeat center top;
      background-size: cover;
      & #{$self}__cover-filter {
        background: rgba(4, 4, 4, 0.55);
      }
    }
    &#{$self}__cover--trail {
      background: url('./assets/trail-low.jpg') no-repeat right top,
                  url('./assets/trail-lowest.jpg') no-repeat right top;
      background-color: #544d47;
      background-size: cover;
      & #{$self}__cover-filter {
        background: rgba(9, 26, 13, 0.45);
      }
    }

    & #{$self}__cover-hello {
      font-family: 'Poppins';
      color: white;
      font-size: 6rem;
      word-break: break-all;
      @media screen and (min-width: $responsive-breakpoint-tablet-min) {
        font-size: 8rem;
      }
    }
    & #{$self}__cover-locale {
      position: absolute;
      bottom: $default-spacing;
      right: $default-spacing;
      ul {
        margin: 0;
        padding: 0;
      }
      li {
        display: inline-block;
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
        }
        &:not(:first-child) {
          &::before {
            content: '|';
            margin: 0 $default-spacing / 2;
          }
        }
      }
    }
  }
  & &__avatar-section {
    $parent: &;
    background: $about-background;
    padding: $about-padding 0;
    height: auto;
    color: $color-blue-darkest;
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.5rem;

    a, a:active, a:hover {
      text-decoration: none;
      color: $color-blue-darkest;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
    & #{$self}__avatar-section-title {
      margin: 0 0 $about-spacing 0;
      color: white;
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
    }
    & #{$self}__avatar-section-subtitle {
      margin: 0 $about-padding;
      color: $color-blue-darker;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
    }
    & #{$self}__avatar-section-content {
      max-width: 996px;
      margin: 0 auto;
      padding: 0 $about-padding;
      text-align: justify;
    }
    .avatar {
      $parent: &;
      margin: 0 auto $about-spacing auto;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
      background: $avatar-background;
      @at-root  #{$parent}__image {
        max-width: 100%;
        border-radius: 50%;
      }
    }
  }
  & &__about {
    padding-top: #{$about-padding + $header-height};
  }
  & &__contact {
    .avatar {
      background-color: $color-blue-darkest;
    }
  }
}
