@import '../base/variables';

.home {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-blue;

  & &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  & &__section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
