@import 'variables';

body {
  margin: 0;
  padding: 0;
  outline: 0;
  background: $base-background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.markdown-section {
  h2, h3 {
    color: $color-blue-darker;
  }
  a, a:active, a:hover {
    text-decoration: none;
    color: $color-blue-light;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
}
