// Fonts
$header-font-size: 1rem;
$header-font-family: 'Montserrat';
$header-font-weight: 600;

// Colors
$color-blue: #78bcda;

// Base
$base-background-color: #d9dadb;
$base-font-size: 16px;
$header-height: 48px;
