// Fonts
$header-font-size: 1.3rem;
$header-font-family: 'Montserrat';
$header-font-weight: 600;

// Colors
$color-blue: #78bcda;

// Responsive
$responsive-breakpoint-tablet-min: 600px;

// Base
$base-background-color: #d9dadb;
$base-font-size: 16px;
$header-height: 48px;
